$navbar-height: 50px;
$footer-height: 70px;

body {
  font-size: .875rem;
  background-color: #f6f9ff;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar {
  height: $navbar-height;

  &.form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.navbar {
  .dropdown-submenu {
    position: relative;

    .menu-caret {
      margin-left: 10px;

      &::before {
        position: absolute;
      }
    }

    &>.dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -6px;
      margin-left: -1px;
    }

    &:hover {
      &>.dropdown-menu {
        display: block;
      }
    }
  }
}

/*
 * Footer
 */
main {
  // 120px = $navbar-height - $footer-height
  min-height: calc(100vh - 120px - 20px);
}

footer {
  margin-top: 20px;

  &.footer-sticky {
    height: $footer-height;
  }
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
